API_ID=29086176
API_HASH=d8825825375f883ceb201f2ab1459ba2
BOT_TOKEN=5881252060:AAHZLpKPOniTusZx0pTWHL5QaADt7hbUQKQ
SESSION_STRING=1BJWap1wBu6UcFhwernMYHkK7bqyOt88vpD9GpdIhwd9Zl941MKAp7ozGXEpWiyeVH3crs-xuJ-mJSN5-NrKAM-ojjedeLbQthUSQkwx9Tm6eHf_TR_GdL5mJk9NZuifVr2VfuZjp1RRGyd8EBYKMG8clR8rl9_CFM_sAQIt5JpoDlSb4HST15byA9aLYMD3LPIgkdMyAmBaiPFbl_77ocOYISTGy3b5v0EO4fi-ddFwEp91W8k1-uzLOSa-u38k_SE05M3ttRCOXARXuNWDUTExwYvLc8pFldNE9VyEO320SxSmTN_-RuVLnxZ2MU_gMomHhCv6sTP_jsiskgHlkib8QB4wO5o4=
CHAT=-1001657259154
ADMINS=5422153027 1486460019
